.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 2.5rem;
}

.services__content {
  position: relative;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-bg-variant);
  border-radius: 2rem;
  padding: 3rem 0;
}
.services__icon {
  display: block;
  font-size: 2rem;
  color: var(--title-white);
}
.services__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}
.services__button {
  color: var(--color-primary);
  font-size: var(--small-font-size);
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}

.services__button:hover {
  color: white;
}
.services__button-icon:hover {
  color: var(--color-primary);
}
.services__button-icon {
  font-size: 1rem;
  transition: 0.3s;
}
.services__button:hover .services__button-icon {
  transform: translate(00.25rem);
}
.services__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: var(--z-modal);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.active-modal {
  opacity: 1;
  visibility: visible;
}
.services__modal-content {
  width: 500px;
  position: relative;
  background-color: var(--color-bg-variant);
  padding: 4.5rem 2.5rem 2.5rem;
  border-radius: 1.5rem;
}
.services__modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
.services__modal-title,
.services__modal-description {
  text-align: center;
}

.services__modal-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-2);
}

.services__modal-description {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2);
  padding: 0 3.5rem;
}
.services__modal-services {
  row-gap: 0.75rem;
}

.services__modal-service {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.services__modal-icon {
  color: white;
  font-size: 1.1rem;
}
.services__modal-info {
  font-size: var(--small-font-size);
}

/*=====================BREAK POINTS====================*/

@media screen and (max-width: 1024px) {
  .services__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*=====================MEDIA QUERIES - medium SCREENS====================*/
@media screen and (max-width: 768px) {
  .services__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }
  .services__content {
    padding: 1rem 0;
    text-align: center;
  }
  .services__icon {
    font-size: 1.5rem;
  }
}

/*=====================MEDIA QUERIES - medium SCREENS====================*/
@media screen and (max-width: 576px) {
  .services__modal-content {
    text-align: center;
  }
  .services__modal-description {
    padding: 0;
  }
}

/*=====================MEDIA QUERIES - medium SCREENS====================*/
@media screen and (max-width: 366px) {
  .services__container {
    grid-template-columns: 1fr;
    column-gap: 0.9rem;
  }
  .services__content {
    padding-right: 3.2rem;
    padding-left: 3.2rem;
  }
}

/*=====================MEDIA QUERIES - MOBILE PHONES====================
  @media screen and (max-width: 730px) {
    .portfolio__container {
      grid-template-columns: repeat(1fr, 1fr);
      gap: 1rem;
    }
  }
  */
