footer {
  background: var(--color-bg-variant);
  padding-bottom: 3rem;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 4rem;
}
.footer a {
  color: var(--color-bg);
}

.footer__logo {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.footer__socials a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer__socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.footer__copyright {
  margin-bottom: 2rem;
  color: var(--color-bg);
}

/*=====================MEDIA QUERIES====================*/
@media screen and (max-width: 768px) {
  .permalinks {
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .footer__socials {
    margin-bottom: 2.6rem;
  }
}

@media screen and (max-width: 576px) {
  .footer__socials {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
}
